.nav-wrapper .brand-logo .material-icons {
	display: inline-block;
}

.nav-wrapper .brand-logo span {
	display: inline-block;
	font-size: 24px;
	line-height: 64px;
	vertical-align: top;
}

ul.side-nav.fixed li.user-details {
	background: transparent;
}

.badge.info {
	background-color: #ff4081;
    border-radius: 2px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
}